@model ForgotPasswordModel
@inject IOptions<ApplicationUrls> ApplicationUrls

<div class="auth-wrapper">
    <a tabIndex="-1" href="#">
        <img alt="" class="logo-brevien" src="~/images/logo-brevien.svg">
    </a>
    <div class="auth-container">
        <div class="auth-container-head">
            <div class="slot-back">
                <a class="btn-back" href="@ApplicationUrls.Value.AngularClient">Home</a>
            </div>
            Hello!
        </div>
        <div class="auth-container-body auth-container-body-small-margin-bottom">
            <form asp-route="ForgotPassword">
                <div class="form-group">
                    <label asp-for="Email" class="input-info"></label>
                    <input class="form-control" type="email" asp-for="Email" autofocus>
                </div>
                <button class="btn btn-primary submit-button" name="button" value="Submit">Submit</button>
            </form>
        </div>
    </div>
</div>