<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>

    <title>Brevien - Authentication</title>

    <link rel="icon" type="image/x-icon" href="~/favicon.ico"/>
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico"/>

    <link rel="stylesheet" href="~/css/main.css"/>
</head>
<body>
<partial name="_Nav"/>
<script src="~/lib/jquery/dist/jquery.slim.min.js"></script> @* Will drop it in the near future *@

@RenderBody()
<div class="auth-footer">
    <ul class="footer-links">
        <li class="first-footer-link">
            <a href="#">Brevien account</a>
        </li>
        <li>
            <a href="#">Privacy policy</a>
        </li>
        <li>
            <a href="#">Terms and Conditions</a>
        </li>
        <li>
            <a href="#">Brevien uses cookies</a>
        </li>
    </ul>
</div>
@* <script src="http://localhost:35729/livereload.js"></script> *@
@RenderSection("scripts", false)
</body>
</html>